.card {
    color: #333;
    padding: 10px 30px;
    box-shadow: 0 3px 12px -3px #000;
    border-radius: 3px;
    margin-top: 20px;
}

.card .row:last-child {
    text-align: right;
}

.card p {
    color: #777;
}